{% extends "partials/layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set errorSummaryList = getErrorSummaryList() %}
      {% if errorSummaryList | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummaryList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% for block in blocks %}
          {{ block | safe }}
        {% endfor %}
      </form>
    </div>
  </div>
{% endblock %}
