{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if deploymentName %}
    <div class="custom-deployment-banner">
      <span class="govuk-body">
        <u><strong>Notice</strong></u>: You are viewing deployment <strong>{{ ephemeralDeploymentName }}</strong>.
      </span>
    </div>
  {% endif %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
