{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}
  {% if feComponents.cssIncludes %}
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
  {% endif %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}
