# This provides sensible defaults, this can be customised if necessary and changes will not be overwritten

# Combined with engine.npm version in package.json, this is required to ensure security improvements in the latest npm is present
ignore-scripts = false

# Use exact versions in package.json when using npm install <pkg>
save-exact = true

# Fail if trying to use an npm version outside the package.json "engines" range
engine-strict = true

# Show any output of scripts in the console
foreground-scripts = true

# Wait a minimum of 7 days before allowing a package to be released, this is to allow time for any issues to be discovered and fixed before the package is released
min-release-age = 7

# Don't allow git dependencies see here
allow-git = none

# Ensure that all scripts have been explicitly added or removed
strict-allow-scripts = true
