$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './local';
