name: Security veracode pipeline scan
on:
  workflow_dispatch:
  schedule:
    - cron: "19 6 * * MON-FRI" # Every weekday
jobs:
  security-veracode-pipeline-scan:
    name: Project security veracode pipeline scan
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/security_veracode_pipeline_scan.yml@v1.0 # WORKFLOW_VERSION
    with:
      channel_id: C05J915DX0Q
    secrets: inherit
